.card {
  flex: 0 0 calc(33.333% - 12px);
  max-width: 128px;
}

.grid {
  margin-top: 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 32px;

  max-width: 560px;
  width: 100%;

  align-items: center;
}

@media only screen and (max-width: 600px) {
  .card {
    /* flex: 0 0 calc(50% - 12px); */
    max-width: 96px;
  }

  .grid {
    grid-gap: 24px;
  }
}

@media only screen and (max-width: 336px) {
  .card {
    flex: 0 0 calc(50% - 12px);
  }
}
