html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--colorBackground);
}

a {
  text-decoration: none;
}

h1,
h2 h3,
a,
p {
  color: var(--colorText);
}

a,
p {
  font-size: min(5vw, 1.1rem);
  line-height: 1.4;
}
h1 {
  font-size: min(12vw, 4rem);
}
h2 {
  font-size: min(8vw, 1.5rem);
}
h3 {
  font-size: min(7vw, 1.3rem);
}

* {
  box-sizing: border-box;
}

:root {
  --colorBlack: #000000;
  --colorBlackHalf: #00000080;
  --colorWhite: #f9f4ff;
  --colorGrey: #808080;
  --colorGreyHalf: #80808080;

  --colorText: #000000;

  --colorBackground: #d1ffe4;
  --colorBackgroundCode: #ade8c6;
  --colorBackgroundPlayer: #222325;

  --colorLinks: #0090f2;

  --colorLogo1: #29e183;
  --colorLogo2: #26ff9e;
  --colorLogo3: #42ffb7;

  --colorSpotify: #1db954;
}
