.check_list {
  margin: 0;
  padding-left: 1.2rem;
}

.check_list li {
  position: relative;
  list-style-type: none;
  /* padding-left: 2.5rem; */
  margin-bottom: 0.5rem;
}

.check_list li ul {
  padding-left: 1.5rem;
}

.links {
  color: var(--colorLinks);
  text-decoration: underline;
  /* cursor: pointer; */
}

.h2_decorator {
  text-align: center;
  margin-top: 2em;
}
