.form__group {
  position: relative;
  padding: 12px 0 0;
  /* margin-top: 10px; */
  width: 70%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--colorGrey);
  outline: 0;
  font-size: 1.3rem;
  color: var(--colorSpotify);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--colorGrey);
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--colorLogo1), var(--colorLogo3));
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--colorSpotify);
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.list {
  text-align: center;
  grid-gap: 8px;
  display: grid;
  grid-template-columns: repeat(4, minmax(85%, 1fr));

  padding-top: 16px;
  padding-bottom: 16px;
  overflow-x: auto;

  max-width: 100%;
}

.list:nth-child(2n) {
  flex-basis: 100%;
}

.items {
  background-color: var(--colorBackgroundPlayer);

  border: 1px solid transparent;
  border-radius: 10px;
  height: 56px;

  padding-left: 5px;
  padding-right: 5px;

  cursor: pointer;
}

.search_width {
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list_container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.title {
  font-weight: bold;
}
.album {
}

.elipsis {
  text-overflow: ellipsis;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 550px) {
  .search_width {
    width: 90%;
  }
}

@media only screen and (max-width: 336px) {
  .album {
    display: none;
  }
}
